name: Build and Release VSCode AppImage

on:
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: build
      run: |
        sudo apt update && sudo apt install libfuse2 desktop-file-utils
        chmod a+x ./vscode-appimage-build.sh
        ./vscode-appimage-build.sh

    - uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        title: Continous Build
        automatic_release_tag: continuous
        prerelease: false
        files: |
          *.AppImage
